@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap");
.header {
  position: relative;
  width: 100%;
  display: flex;
  padding-top: 2rem;
  margin-bottom: 8.8rem;
}
.header__menu {
  display: flex;
  width: 100%;
  margin: 2rem 0 0 6rem;
  justify-content: space-between;
}

.logo {
  margin-top: 2rem;
}

.menu__list {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}
.menu__items:last-child {
  margin: 0;
}
.menu__items {
  margin-right: 2rem;
}
.menu__items :hover {
  color: #f6bbbb;
}
.menu__item {
  width: 56px;
  font-weight: 400;
}

.address {
  animation: shakeY infinite;
  animation-duration: 10s;
}
.address__tel {
  text-align: right;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
}
.address__graphic-job {
  text-align: right;
  color: #fff;
  margin: 0;
}
.address .address__graphic-hidden {
  opacity: 0;
  width: 11.6rem;
  color: black;
  position: absolute;
  transition: 0.8s;
  animation: fadeOutDown;
  animation-duration: 3s;
}
.address .address__graphic-hidden .triangle {
  margin-left: 9rem;
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-bottom: 1rem solid #ededed;
}
.address .address__graphic-hidden .address__hidden-block {
  margin-left: 2rem;
  background-color: #ededed;
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.8rem;
}
.address .address__graphic-hidden:hover {
  opacity: 1;
}

.preview__tittle {
  font-weight: 700;
  font-size: 5rem;
}
.preview__text {
  width: auto;
  margin: 2.4rem 0;
}

.fire-tours {
  width: 100%;
  height: auto;
  margin: 19rem 0 0;
}
.fire-tours__header {
  display: flex;
}
.fire-tours__tittle {
  font-weight: 700;
  font-size: 36px;
}
.fire-tours__fire {
  width: 2.5rem;
  height: 2.5rem;
  margin: 1rem 1rem 0;
  animation: flip infinite;
  animation-duration: 2s;
}
.fire-tours__cards {
  width: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 3.8rem;
}
.fire-tours__card {
  width: 26rem;
  min-height: 32rem;
  background-color: #fff;
  color: #000;
}
.fire-tours__img {
  width: 100%;
}
.fire-tours__article {
  margin: 1.5rem 1.5rem 1.5rem;
}
.fire-tours__article :hover {
  animation: shakeX;
  animation-duration: 2s;
}
.fire-tours__article-title {
  margin-top: 1.5rem;
  font-weight: 700;
  font-size: 24px;
}
.fire-tours__article-list {
  margin-top: 1rem;
}
.fire-tours__article-icon {
  width: auto;
}
.fire-tours__article-nights-breakfast {
  margin-top: 1.5rem;
}
.fire-tours__article-text {
  margin: 2.5rem 0;
}

.news {
  width: 100%;
  height: auto;
  margin: 9.2rem 0 0;
}
.news__tittle {
  font-weight: 700;
  font-size: 36px;
  margin: 0 0 3rem;
}
.news__cheepest-tours {
  display: flex;
  justify-content: space-between;
}
.news__cheepest-tours-content-one {
  display: flex;
  justify-content: center;
  width: 39rem;
  background: url("../img/cheepest-tours.jpg");
  height: 28.1rem;
  align-items: end;
}
.news__cheepest-tours-content-two {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 39rem;
  background: url("../img/surfer-tours.jpg");
  height: 28.1rem;
}
.news__cheepest-tours-content {
  width: 90%;
  margin: 0 0 2.2rem 0;
}
.news__cheepest-tours-tittle {
  font-weight: 700;
  font-size: 24px;
  margin: 1rem 0;
}

.slide {
  display: flex;
  justify-content: center;
  margin: 5.2rem;
  font-weight: 700;
  font-size: 16px;
}
.slide__pages {
  margin: 0 1rem;
}
.slide__link {
  display: flex;
}
.slide__list {
  margin-left: 1rem;
  display: flex;
  gap: 0.1rem;
}
.slide__item {
  width: 2.2rem;
  height: 2.2rem;
  text-align: center;
}
.slide__page {
  padding: 0.3rem 0.8rem;
  border-radius: 50%;
  background-color: transparent;
  transition: 0.7s;
}
.slide__page:hover {
  background-color: #fff;
  color: black;
  box-shadow: 0 0 5px #fff, 0 0 25px #fff, 0 0 50px #fff;
}

.redd {
  padding: 0.3rem 0.8rem;
  border-radius: 50%;
  background-color: transparent;
  transition: 0.7s;
  color: black;
}
.redd:hover {
  background-color: #F5170E;
  color: #fff;
  box-shadow: 0 0 5px #F5170E, 0 0 25px #F5170E, 0 0 50px #F5170E;
}

.about-us {
  display: flex;
  width: 100%;
  margin: 10rem 0 0.5rem;
}
.about-us__image {
  width: 35rem;
  height: 36rem;
}
.about-us__content {
  width: 74rem;
  height: 32.6rem;
  margin: 7rem 0 3.5rem -10rem;
  background: url("../img/mountains.jpg") no-repeat;
  color: black;
}
.about-us__article {
  margin: 4.8rem 6rem;
}
.about-us__tittle {
  font-weight: 700;
  font-size: 36px;
}
.about-us__text {
  width: 70%;
  margin-bottom: 6rem;
  line-height: 2;
}

.footer__block {
  border-top: 1px solid #545252;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.footer__block .logo {
  margin-top: 0;
}

.footer__center {
  width: 65%;
  margin-left: 2.5rem;
  display: flex;
  justify-content: space-between;
}

.footer {
  flex: 0 0 auto;
}

.footer .menu {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.social__list {
  display: flex;
  gap: 0.6rem;
}
.social__elem {
  border-radius: 50%;
  border: 0.2rem solid transparent;
  transition: 0.7s;
}
.social__elem:hover {
  border: 0.2rem solid #fff;
  box-shadow: 0 0 5px #fff, 0 0 25px #fff, 0 0 50px #fff;
}
.social__img {
  border-radius: 50%;
}

.services__footer {
  background-color: #001821;
  padding: 1.5rem 0;
}
.services__footer .footer__block {
  border-top: none;
}
.services__footer .adress__text {
  color: #fff;
}

.container__container .services__header {
  margin-bottom: 5.2rem;
}
.container__container .header__tittle {
  color: #fff;
  font-weight: 700;
  font-size: 72px;
}
.container__container .breadcrumbs {
  display: flex;
  margin-top: 6.8rem;
}
.container__container .breadcrumbs .breadcrumbs__element {
  color: #fff;
  margin-left: 0.2rem;
}
.container__container .breadcrumbs .breadcrumbs__element :hover {
  color: #f6bbbb;
}
.container__container .breadcrumbs .breadcrumbs__element:not(:last-child)::after {
  content: " /";
  color: #fff;
}
.container__container .breadcrumbs .breadcrumbs__element:last-child {
  text-decoration: underline;
}
.container__container .breadcrumbs__element:first-child {
  margin-left: 0;
}

.services__content {
  margin-top: 8.8rem;
}
.services__content .services__card {
  display: flex;
  gap: 4.5rem;
  margin-top: 3.5rem;
}
.services__content .services__card .services__card-content {
  margin-top: 0.8rem;
}
.services__content .services__card .services__card-content .services__card-tittle {
  font-weight: 700;
  font-size: 36px;
}
.services__content .services__card .services__card-content .services__card-text {
  margin: 2rem 0 3rem;
  line-height: 2.5rem;
}
.services__content .services__card:first-child {
  margin-top: 0;
}

.services__partners {
  background-color: #F4F5F5;
}
.services__partners .services-partners__container {
  padding: 6.28rem 0 7.5rem;
}
.services__partners .services__partners-tittle {
  padding-bottom: 6.28rem;
  font-weight: 700;
  font-size: 48px;
}
.services__partners .services__partners-list {
  display: flex;
  flex-wrap: wrap;
}
.services__partners .services__partners-list .services__partners-item {
  width: 18rem;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3rem;
}
.services__partners .services__partners-list .services__partners-item:nth-child(4n+1) {
  margin-left: 0;
}
.services__partners .services__partners-list .services__partners-tap {
  filter: grayscale(1);
}
.services__partners .services__partners-list .services__partners-tap:hover {
  filter: grayscale(0);
}

.wrapper__services {
  position: relative;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  font-size: 14px;
  line-height: 1.42;
}
.wrapper__services .services {
  background: url("../img/img-services/headline.jpg") no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
}

.wrapper__welcome {
  position: relative;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
  background: url("../img/welcome/welcome.jpg") no-repeat;
  background-size: contain;
  background-color: #021018;
}

.welcome {
  width: 100%;
}
.welcome__content {
  position: relative;
  left: 35%;
  padding: 25.42rem 0;
  animation: bounceIn infinite;
  animation-duration: 5s;
}
.welcome__text {
  width: 42.21rem;
  height: 17.71rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  color: #fff;
  background: url("../img/welcome/shades.png") no-repeat;
}
.welcome__logo {
  width: 19.92rem;
  height: 8.5rem;
  background: url("../img/welcome/welcome-logo.png");
  animation: heartBeat infinite;
  animation-duration: 2s;
}
.welcome .logo__link {
  display: flex;
  width: 19.92rem;
  height: 8.5rem;
}
.welcome__item {
  margin-top: -0.69rem;
  font-weight: 400;
  font-size: 18px;
}
.welcome .red {
  margin-left: 15.5rem;
}

.feedback {
  background: url("../img/img-services/headline.jpg") no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
}

.container__container {
  flex: 1 0 auto;
}

.feedback-banner {
  margin-bottom: 7.5rem;
}

.feedback__cards {
  margin-top: 10.85rem;
  column-count: 2;
  margin-bottom: -2rem;
}
.feedback__card {
  display: inline-block;
  width: 39.78rem;
  min-height: 38.71rem;
  background-color: #F4F5F5;
  padding: 3.57rem 2.28rem 2.28rem;
  margin-bottom: 2.1rem;
}
.feedback__photo-name {
  display: flex;
}
.feedback__picture {
  width: 10.14rem;
  height: 10.14rem;
  border-radius: 50%;
}
.feedback__name {
  font-weight: 700;
  font-size: 24px;
  margin: 2rem 1.57rem;
}
.feedback__name-vk {
  display: flex;
}
.feedback__name-vk :hover {
  color: #2E77A4;
  text-decoration: underline;
}
.feedback__icon {
  width: 2.14rem;
  height: 2.14rem;
  margin-left: 0.5rem;
  background: url("../img/feedback/vk-blue 1.jpg") no-repeat;
}
.feedback textarea {
  margin-top: 1.5rem;
}
.feedback__tittle {
  margin-top: 2rem;
  font-weight: 700;
  font-size: 1.85rem;
  line-height: 3.5rem;
}
.feedback__text {
  margin-top: 1rem;
  line-height: 27px;
}
.feedback__data {
  margin-top: 3.42rem;
}

.feedback-banner {
  background: url("../img/feedback/banner.jpg") no-repeat;
  background-color: #F4F5F5;
}

.feedback__advertising {
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  color: #fff;
  margin-top: 8.2rem;
}
.feedback__form {
  margin-top: 13rem;
}
.feedback__tittle- {
  font-weight: 700;
  font-size: 3.5rem;
}
.feedback__choice {
  display: flex;
  margin-top: 2.5rem;
  justify-content: space-between;
}
.feedback__choice-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}
.feedback__btn-group {
  display: flex;
  flex-wrap: wrap;
}
.feedback .feedback__check-label {
  display: block;
  background-color: #E7E7E7;
  box-sizing: border-box;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  cursor: pointer;
}
.feedback__row {
  display: flex;
  margin-top: 4rem;
  gap: 1rem;
}
.feedback #btn-choice:checked ~ .feedback__check-label {
  background-color: #B9EAE4;
}
.feedback #btn-choice2:checked ~ .feedback__check-label {
  background-color: #B9EAE4;
}
.feedback #btn-choice3:checked ~ .feedback__check-label {
  background-color: #B9EAE4;
}
.feedback #btn-choice4:checked ~ .feedback__check-label {
  background-color: #B9EAE4;
}
.feedback #btn-choice5:checked ~ .feedback__check-label {
  background-color: #B9EAE4;
}
.feedback #btn-choice6:checked ~ .feedback__check-label {
  background-color: #B9EAE4;
}
.feedback #btn-choice7:checked ~ .feedback__check-label {
  background-color: #B9EAE4;
}
.feedback__buttons {
  display: flex;
  justify-content: flex-end;
  gap: 3.5rem;
  margin-top: 1.5rem;
}
.feedback .row {
  margin-top: 4.07rem;
}
.feedback .form-control {
  font-size: 2rem;
}
.feedback .form-group {
  margin: 1rem 0 0;
}

label {
  margin-bottom: 0;
}

.button-f {
  font-weight: 400;
  font-size: 13px;
  text-decoration: none;
  color: black;
  padding: 0.64rem 1.28rem;
  background-color: #B9EAE4;
  border-radius: 30px;
}
.button-f :hover {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  position: relative;
  scroll-behavior: smooth;
}

.main {
  display: flex;
  justify-content: center;
  background: url("../img/2.jpg") 0% 100% no-repeat;
  background-size: contain;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1.42;
  font-size: 14px;
}
html .wrapper, body .wrapper {
  background: url("../img/main.jpg") no-repeat;
  position: relative;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
  color: #fff;
  background-color: #001821;
}

[class*=__container] {
  min-width: 81.4rem;
  margin: 0 27.8rem;
}

a {
  text-decoration: none;
  color: #fff;
}

ul, li {
  text-decoration: none;
  list-style: none;
  margin-bottom: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.button {
  padding: 1rem 2rem;
  border-radius: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  border: 0.14rem solid #F5170E;
  background-color: transparent;
  color: #F5170E;
  transition: 0.5s;
}
.button:hover {
  color: #fff;
  background-color: #F5170E;
  box-shadow: 0 0 5px #F5170E, 0 0 25px #F5170E, 0 0 50px #F5170E, 0 0 100px #F5170E, 0 0 200px #F5170E;
}

.red {
  background-color: #F5170E;
  color: #fff;
}
.red:hover {
  color: #F5170E;
  background-color: #fff;
  box-shadow: 0 0 5px #F5170E, 0 0 25px #F5170E, 0 0 50px #F5170E, 0 0 100px #F5170E, 0 0 200px #F5170E;
}

.grey {
  background-color: #2B2B2B;
  color: #fff;
  border: none;
}
.grey:hover {
  background-color: #8E8E8E;
  box-shadow: none;
}/*# sourceMappingURL=s.css.map */