@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap");
.header {
  position: relative;
  width: 100%;
  min-height: 9.4rem;
  display: flex;
  margin: 3rem 0;
}
.header__menu {
  display: flex;
  width: 75.3rem;
  justify-content: space-between;
}

.logo {
  width: 6rem;
}

.menu {
  padding: 1.2rem 5rem;
  display: flex;
}
.menu__list {
  display: flex;
  margin: 0 1.2rem;
  justify-content: space-between;
}
.menu__items:last-child {
  margin: 0;
}
.menu__items {
  margin-right: 2rem;
}
.menu__item {
  width: 56px;
  font-weight: 400;
}

.address__tel {
  text-align: right;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
}
.address__graphic-job {
  text-align: right;
  margin: 0;
}
.address__graphic-hidden {
  opacity: 0;
}
.address__graphic-week {
  width: auto;
}
.address__graphic-dinner {
  width: auto;
}

.preview__tittle {
  font-weight: 700;
  font-size: 5rem;
}
.preview__text {
  width: auto;
  margin: 2rem 0 4rem;
}

.fire-tours {
  width: 100%;
  height: auto;
  margin: 18rem 0 0;
}
.fire-tours__header {
  display: flex;
}
.fire-tours__tittle {
  font-weight: 700;
  font-size: 36px;
}
.fire-tours__fire {
  width: 2.5rem;
  height: 2.5rem;
  margin: 1rem 1rem 0;
}
.fire-tours__cards {
  width: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 3.8rem;
}
.fire-tours__card {
  width: 26rem;
  min-height: 32rem;
  background-color: #fff;
  color: #000;
}
.fire-tours__img {
  width: 100%;
}
.fire-tours__article {
  margin: 1.5rem 1.5rem 1.5rem;
}
.fire-tours__article-title {
  margin-top: 1.5rem;
  font-weight: 700;
  font-size: 24px;
}
.fire-tours__article-list {
  margin-top: 1rem;
}
.fire-tours__article-icon {
  width: auto;
}
.fire-tours__article-nights-breakfast {
  margin-top: 1.5rem;
}
.fire-tours__article-text {
  margin: 2.5rem 0;
}

.news {
  width: 100%;
  height: auto;
  margin: 9.2rem 0 0;
}
.news__tittle {
  font-weight: 700;
  font-size: 36px;
  margin: 0 0 3rem;
}
.news__cheepest-tours {
  display: flex;
  justify-content: space-between;
}
.news__cheepest-tours-content-one {
  display: flex;
  justify-content: center;
  width: 39rem;
  background: url("../img/cheepest-tours.jpg");
  height: 28.1rem;
  align-items: end;
}
.news__cheepest-tours-content-two {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 39rem;
  background: url("../img/surfer-tours.jpg");
  height: 28.1rem;
}
.news__cheepest-tours-content {
  width: 90%;
  margin: 0 0 2.2rem 0;
}
.news__cheepest-tours-tittle {
  font-weight: 700;
  font-size: 24px;
  margin: 1rem 0;
}

.slide {
  display: flex;
  justify-content: center;
  margin: 5.2rem;
  font-weight: 700;
  font-size: 16px;
}
.slide__pages {
  margin: 0 1.5rem;
}
.slide__link {
  display: flex;
}
.slide__list {
  display: flex;
  gap: 0.4rem;
}
.slide__item {
  width: 2.2rem;
  height: 2.2rem;
  text-align: center;
}
.slide__page {
  padding: 0.3rem 0.8rem;
  border-radius: 50%;
  background-color: transparent;
  transition: 0.7s;
}
.slide__page:hover {
  background-color: #fff;
  color: black;
  box-shadow: 0 0 5px #fff, 0 0 25px #fff, 0 0 50px #fff;
}

.about-us {
  display: flex;
  width: 100%;
  margin: 10rem 0 0.5rem;
}
.about-us__image {
  width: 35rem;
  height: 36rem;
}
.about-us__content {
  width: 74rem;
  height: 32.6rem;
  margin: 7rem 0 3.5rem -10rem;
  background: url("../img/mountains.jpg") no-repeat;
  color: black;
}
.about-us__article {
  margin: 4.8rem 6rem;
}
.about-us__tittle {
  font-weight: 700;
  font-size: 36px;
}
.about-us__text {
  width: 70%;
  margin-bottom: 6rem;
  line-height: 2;
}

.footer__block {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.footer__center {
  width: 65%;
  display: flex;
  justify-content: space-between;
}

.footer__line {
  margin: 0 0 2.5rem;
  border: none;
  border-top: 1px solid #333;
}

.footer .menu {
  margin: 0;
  padding: 0;
}

.social__list {
  display: flex;
}
.social__elem {
  border-radius: 50%;
  border: 0.2rem solid transparent;
  transition: 0.7s;
}
.social__elem:hover {
  border: 0.2rem solid #fff;
  box-shadow: 0 0 5px #fff, 0 0 25px #fff, 0 0 50px #fff;
}
.social__img {
  border-radius: 50%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  position: relative;
  scroll-behavior: smooth;
  color: #fff;
  background-color: #001821;
}

.main {
  display: flex;
  justify-content: center;
  background: url("../img/2.jpg") 0% 100% no-repeat;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1.42;
  font-size: 14px;
}
html .wrapper, body .wrapper {
  background: url("../img/main.jpg") no-repeat;
  position: relative;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
}

[class*=__container] {
  min-width: 81.4rem;
  margin: 0 27.8rem;
}

a {
  text-decoration: none;
  color: #fff;
}

ul, li {
  text-decoration: none;
  list-style: none;
}

.button {
  padding: 1rem 2rem;
  border-radius: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  border: 0.14rem solid #F5170E;
  background-color: transparent;
  color: #F5170E;
  transition: 0.5s;
}
.button:hover {
  color: #fff;
  background-color: #F5170E;
  box-shadow: 0 0 5px #F5170E, 0 0 25px #F5170E, 0 0 50px #F5170E, 0 0 100px #F5170E, 0 0 200px #F5170E;
}

.red {
  background-color: #F5170E;
  color: #fff;
}
.red:hover {
  color: #F5170E;
  background-color: #fff;
  box-shadow: 0 0 5px #F5170E, 0 0 25px #F5170E, 0 0 50px #F5170E, 0 0 100px #F5170E, 0 0 200px #F5170E;
}/*# sourceMappingURL=s.css.map */