.about-us {
  display: flex;
  width: 100%;
  margin: 10rem 0 .5rem;
  &__image {
    width: 35rem;
    height: 36rem;}
  &__content {
    width: 74rem;
    height: 32.6rem;
    margin: 7rem 0 3.5rem -10rem;
    background: url('../img/mountains.jpg') no-repeat;
    color: black;}
  &__article{
    margin: 4.8rem 6rem;
  }
  &__tittle {
    font-weight: 700;
    font-size: 36px;}
  &__text {
    width: 70%;
    margin-bottom: 6rem;
    line-height: 2; }}


