.fire-tours {
  width: 100%;
  height: auto;
  margin: 19rem 0 0;
  &__header {
    display: flex;
  }
  &__tittle {
    font-weight: 700;
    font-size: 36px;
  }
  &__fire {
    width: 2.5rem;
    height: 2.5rem;
    margin: 1rem 1rem 0;
    animation: flip infinite;
    animation-duration: 2s;
  }

  &__cards {
    width: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 3.8rem;
  }
  &__card {
    width: 26rem;
    min-height: 32rem;
    background-color: #fff;
    color: #000;
  }
  &__img {
    width: 100%;
  }
  
  &__article {
    margin: 1.5rem 1.5rem 1.5rem;
    :hover{
    animation: shakeX;
    animation-duration: 2s;}
  }
  &__article-title {
    margin-top: 1.5rem;
    font-weight: 700;
    font-size: 24px;
  }

  &__article-list {
    margin-top: 1rem;
  }

  &__article-icon {
    width: auto;
  }

  &__article-nights-breakfast {
    margin-top: 1.5rem;
  }

  &__article-text {
    margin: 2.5rem 0;
  }
}
