.header {
  position: relative;
  width: 100%;
  min-height: 9.4rem;
  display: flex;
  &__menu{
    display: flex;
    width: 75.3rem;

    justify-content: space-between;}}
.header>.logo,.header__menu{margin: 3rem 0 0;}

.logo {
  width: 6rem;
}

.menu {
  padding: 1.2rem 5rem;
  display: flex;
		&__list {
      display: flex;
      margin: 0 1.2rem;
      justify-content: space-between;}
		&__items {
      margin-right: 2rem;}
		&__item {
      width: 56px;
      font-weight: 400;}}

.address {
  display: grid;
    &__tel {  justify-self: end;
      height: 2.5rem;
      font-style: normal;
      font-weight: 400;
      font-size: 26px;
		}

		&__graphic-job {  justify-self: end;
      margin: 0;
		}

		&__graphic-hidden {opacity: 0;
		}

		&__graphic-week {width: auto;
		}

		&__graphic-dinner {width: auto;
		}
}
