.header {
  position: relative;
  width: 100%;
  display: flex;
  margin: 0 0 6rem;
  align-items: center;
  &__menu{
    display: flex;
    width: 100%;
    align-items: center;
    margin-left: 6rem;
    justify-content: space-between;}}

.logo {
  width: 6rem;
}

.menu {
  display: flex;
		&__list {
      display: flex;
      gap: 2rem;
      justify-content: space-between;}
    &__items:last-child{margin: 0;}
		&__items {
      margin-right: 2rem;}
		&__item {
      width: 56px;
      font-weight: 400;}}

.add-header{margin-top: 2rem;}
.address {
    &__tel {  text-align: right;
      font-style: normal;
      font-weight: 400;
      font-size: 26px;
		}
		&__graphic-job {  text-align: right;
      color: #fff;
      margin: 0;
		}

		&__graphic-hidden {opacity: 0;
		}

		&__graphic-week {width: auto;
		}

		&__graphic-dinner {width: auto;
		}
}
