.news {
  width: 100%;
  height: auto;
  margin: 9.2rem 0 0;
  &__tittle {
    font-weight: 700;
    font-size: 36px;
    margin: 0 0 3rem;
  }
  &__cheepest-tours {
    display: flex;
    justify-content: space-between;
  }
  &__cheepest-tours-content-one {
    display: flex;
    justify-content: center;
    width: 39rem;
    background: url("../img/cheepest-tours.jpg");
    height: 28.1rem;
    align-items: end;
  }
  &__cheepest-tours-content-two {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 39rem;
    background: url("../img/surfer-tours.jpg");
    height: 28.1rem;
  }
  &__cheepest-tours-content {
    width: 90%;
    margin: 0 0 2.2rem 0;
  }
  &__cheepest-tours-tittle {
    font-weight: 700;
    font-size: 24px;
    margin: 1rem 0;
  }
}

.slide {
  display: flex;
  justify-content: center;
  margin: 5.2rem;
  font-weight: 700;
  font-size: 16px;
  &__pages {
    margin: 0 1rem;
  }
  &__link {
    display: flex;
  }
  &__list {
    margin-left: 1rem;
    display: flex;
    gap: 0.1rem;
  }
  &__item {
    width: 2.2rem;
    height: 2.2rem;
    text-align: center;
  }
  &__page {
    padding: 0.3rem 0.8rem;
    border-radius: 50%;
    background-color: transparent;
    transition: 0.7s;
    &:hover {
      background-color: #fff;
      color: black;
      box-shadow: 0 0 5px #fff, 0 0 25px #fff, 0 0 50px #fff;
    }
  }
}
.redd{
  padding: 0.3rem 0.8rem;
  border-radius: 50%;
  background-color: transparent;
  transition: 0.7s;
  color: black
  ;
  &:hover {
    background-color: #F5170E;
    color: #fff;
    box-shadow: 0 0 5px #F5170E, 0 0 25px #F5170E, 0 0 50px #F5170E
  }
}