
.preview {
  margin-top: 5rem;
  &__tittle {
    width: 36.5rem;
    height: 14rem;
    font-weight: 700;
    font-size: 5rem;
}
  &__text {
    width: auto;
    margin: 2rem 0 4rem;}
}
