
.wrapper__services{
  position: relative;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
  .services{
    background: url('../img/img-services/headline.jpg') no-repeat;
    display: flex;
    flex-direction: column;
    align-content: space-evenly}
}

@import './_services-header.scss';
@import './_services-content.scss';
@import './_services__partners.scss';
